package components

templ Header() {
<nav class="flex justify-between">
  <div class="align-middle my-auto text-2xl">BitnMatrix</div>
  <ul class="flex">
    <li><a class="block px-6 py-4" href="/">Home</a></li>
    <li><a class="block px-6 py-4" href="/services">Services</a></li>
    <li><a class="block px-6 py-4" href="/about-us">About Us</a></li>
    <li><a class="block px-6 py-4" href="/contact-us">Contact Us</a></li>
  </ul>
</nav>
}
